.todo-app{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  max-width: 770px;
  width: 100%;
  margin: 0 auto;
  padding: 0 1rem;
  margin-bottom: 3rem;
}

.todo-input-container{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.3rem;
  // max-width: 550px;
  width: fit-content;
  margin: .5rem;
  margin-bottom: .33rem;
  background: rgba(0, 0, 0, .05);
  border-radius: 4px;
  width: 100%;

  
  
  &::after{
    content: "";
    background: inherit;
    position: absolute;
    user-select: none;
    pointer-events: none;
    left: 0;
    right: 0;
    top: 0; 
    bottom: 0;
    filter: blur(4px);
  }

  .todo-input{
    position: relative;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, .001);
    border: none;
    border-radius: 4px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    padding: .33rem;
    display: block;
    color: var(--text);
    font-size: 1.2rem;
    outline: none;
    
    &::placeholder {
      color: var(--text);
      opacity: .77;
    }
  }
  
  .todo-add-button{
    position: relative;
    height: 100%;
    min-width: 2.5rem;
    width: 2.5rem;
    padding: .33rem;
    border: none;
    border-radius: 4px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    cursor: pointer;
    opacity: .77;
    transition: all ease 300ms;
    
    &:hover{
      background: rgba(0, 0, 0, 0.05);
      opacity: 1;
    }
    svg{
      position: relative;
      width: 100%;
    }
    svg, svg path{
      fill: var(--text);
    }
  }
}

.todo-incomplete-count{
  margin-bottom: .33rem;
}

.todo-controls{
  display: flex;
  align-items: center;
  justify-content: center;
}

.todo-remove-completed-button{
  position: relative;
  height: fit-content;
  width: fit-content;
  padding: .33rem;
  border: none;
  background: var(--mid-trans);
  font-family: 'Baloo', cursive;
  border-radius: 4px;
  display: flex;
  color: var(--text);
  font-size: 1.3rem;
  align-items: center;
  justify-content: center;
  outline: none;
  cursor: pointer;
  opacity: .77;
  transition: all ease 300ms;

  &::after{
    content: "";
    background: inherit;
    position: absolute;
    user-select: none;
    pointer-events: none;
    left: 0;
    right: 0;
    top: 0; 
    bottom: 0;
    filter: blur(4px);
   }

  &:hover{
    opacity: 1;
  }
  svg{
    position: relative;
    width: 100%;
  }
  svg, svg path{
    fill: var(--text);
  }
}