.todo {
  position: relative;
  display: flex;
  flex-flow: row;
  align-items: center;
  padding: 0.3rem;
  transition: all ease 300ms;
  border-radius: 4px;
  margin: 0.33rem;
  cursor: pointer;
  background: rgba(0, 0, 0, 0.05);

  &::after {
    content: "";
    background: inherit;
    position: absolute;
    user-select: none;
    pointer-events: none;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    filter: blur(4px);
  }

  &:hover {
    background: rgba(0, 0, 0, 0.07);
  }
}

.todo-status {
  padding: 0.3rem;
  width: 2rem;
  height: 2rem;
  opacity: 0;
  cursor: pointer;
  // visibility: hidden;
  position: absolute;
  z-index: 2;
}

.todo-check {
  z-index: 1;
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all ease 300ms;
  svg{
    position: relative;
    width: 100%;
    height: 100%;
    transition: all ease 300ms;
    
    path{
      fill: var(--mid);
      transition: all ease 300ms;
    }
    
    .svg-check{
      fill: transparent;
    }
  }
}

.todo-status:checked ~ .todo-check {
  svg path {
    fill: var(--mid);
  }
}

.todo-task {
  padding: 0.3rem;
  width: 100%;
  margin-left: .33rem;
  border: none;
  border-radius: 2px;

  background: var(--mid-trans);
  outline: none;
  
}
input.todo-task, .todo-task:disabled{
  font-size: 1.1rem;
}

span.todo-task, .todo-task:disabled{
  background: none;
}

.todo-edit,
.todo-delete {
  position: relative;
  width: 2rem;
  height: 2rem;
  padding: 0.3rem;
  border-radius: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all ease 300ms;

  &:hover{
    background: var(--mid-trans);
  }
  svg {
    width: 100%;
    height: 100%;
  }
}
