.todo-list{
  display: flex;
  flex-flow: column;
  max-width: 770px;
  width: 100%;
  padding: .33rem;
}

.todo-list-label{
  font-family: 'Baloo';
  font-size: 1.1rem;
  padding: 0 .33rem;
  margin-bottom: -.33rem;
}