.logo{
  position: relative;
  font-size: 2.5rem;
  // user-select: none;
  &::after{
    position: absolute;
    left: 0;
    bottom: .5rem;
    width: 100%;
    height: .15rem;
    border-radius: .15rem;
    content: '';
    background: var(--text);
  }
}