.site-footer {
  position: fixed;
  width: fit-content;
  height: fit-content;
  bottom: 0.2rem;
  left: 0.35rem;
  opacity: 0.9;
  transition: opacity ease 300ms, height ease 300ms;
  user-select: none;
  z-index: 13;
}

.site-footer {
  &.open,
  &:hover {
    opacity: 1;
    .site-footer-extra {
      height: 4.8rem;
      opacity: 1;
    }

    .site-footer-background{
      opacity: 1;
    }
  }
}

.site-footer-background {
  position: absolute;
  top: 0;
  background: var(--background);
  opacity: .5;
  width: 100%;
  height: 100%;
  filter: blur(10px);
  z-index: 1;
}

.site-footer-inner,
.site-footer-extra {
  position: relative;
  font-size: 0.77rem;
  z-index: 2;
  color: var(--text);
  cursor: default;
  
  a{
    color: var(--text);
    opacity: .77;
  }
}

.site-footer-extra {
  transition: height ease 300ms, opacity ease 450ms;
  height: 0px;
  opacity: 0;
  overflow: hidden;
  display: flex;
  flex-flow: column;
}