.themer{
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: .77rem;
  right: .77rem;
}

.theme-select{
  width: 1.5rem;
  height: 1.5rem;
  border-radius: .75rem;
  margin: .5rem;
  opacity: .5;
  cursor: pointer;
  transition: all ease 300ms;
  
  &:hover{
    opacity: 1;
    
  }
}