.mini-timer-display,
.mini-timer-controls,
.mini-timer-time {
  display: flex;
  align-items: center;
  justify-content: center;
}

.mini-timer-display{
  flex-flow: column;
  @media(max-width: 720px){
    flex-flow: row;
  }
}

.mini-timer-watch {
  flex-flow: column;
  max-width: 150px;
  width: fit-content;

  @media(max-width: 720px){
    padding: .33rem;
    border-radius: 4px;
    cursor: pointer;
    transition: background ease 300ms;
    &:hover{
      background: var(--mid-trans);
    }
    &:active,&:target{
      background: var(--text-trans);
    }
  }
}

.mini-timer-time {
  font-size: 1.5rem;
  @media(max-width: 720px){
    font-size: 1.3rem;
  }
}

.mini-timer-session{
  font-size: .77rem;
  letter-spacing: 1px;
  text-align: center;
  text-transform: uppercase;
  @media(max-width: 720px){
    font-size: .66rem;
  }
}

.mini-timer-controls{
  display: flex;
  max-width: 160px;
  width: fit-content;
  padding: .33rem 0;
  align-items: center;
  justify-content: space-evenly;
  flex-flow: row;
  
  @media(max-width: 720px){
    flex-flow: column;
  }
}



.mini-timer-control-button{
  border-radius: 50%;
  border: none;
  margin: 0 .33rem;
  background: none;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  cursor: pointer;
  opacity: .77;
  transition: all 300ms ease;
  transition: all 300ms ease;

  &:disabled{
    cursor: default;
    opacity: .3;
    &:hover{
      opacity: .3;
    }
  }
  
  &:hover{
    opacity: 1;
  }

  svg{
    width: 1.3rem;
    height: 1.3rem;
    fill: var(--text);
    path{
      fill: var(--text);
    }
  }

  @media(max-width: 720px){
    &.pause, &.play{
      display: none;
    }

    svg{
      width: 1.1rem;
      height: 1.1rem;
    }
  }
}