.timer{
  position: relative;
  max-width: 520px;
  width: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  // user-select: none;

}

.timer-controls{
  display: flex;
  width: 100%;
  padding: 1rem;
  align-items: center;
  justify-content: space-evenly;
  flex-flow: row wrap;
}

.sessionLength,
.breakInterval{
  position: relative;
  width: 100%;
  min-width: 120px;
  max-width: 320px;
  padding: .33rem 0;
  display: flex;
  align-items: center;
  flex-flow: column;
  justify-content: space-evenly;
}

.controls-container{
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.timer-button{
  border-radius: 50%;
  border: none;
  background: none;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  cursor: pointer;
  opacity: .77;
  transition: all 300ms ease;

  &:disabled{
    cursor: default;
    opacity: .3;
  }
  
  &:hover{
    &:disabled{
      opacity: .3;
    }
    opacity: 1;
  }

  svg{
    fill: var(--text);
    path{
      fill: var(--text);
    }
  }

  &.incrementUp{
  }
  
  &.incrementDown{
    transform: rotate(180deg);

  }
}