.timer-display,
.timer-controls,
.timer-time {
  display: flex;
  align-items: center;
  justify-content: center;
}
.timer-display {
  flex-flow: column;
  max-width: 300px;
  width: 100%;
}

.timer-time {
  font-size: 4rem;
}

.timer-session{
  font-size: 2rem;
  letter-spacing: 2px;
  text-transform: uppercase;
}