@import url("https://fonts.googleapis.com/css?family=Baloo&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap");

:root {
  --text: #333;
  --text-trans: rgba(51, 51, 51, 0.1);
  --background: #fff;
  --background-trans: rgba(255, 255, 255, 0.1);
  --mid: #777;
  --mid-trans: rgba(119, 119, 119, 0.1);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--background);
}
