header {
  position: relative;
  background: var(--background);
  border: 0 solid #e2e8f0;
  z-index: 11;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

nav {
  position: relative;
  padding: 0.33rem;
  width: 100%;
  max-width: 980px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-wrapper {
  display: flex;
  align-items: center;
  padding: 0 .33rem;
  font-size: 2rem;
  color: var(--text);
  cursor: pointer;
  transition: all ease 300ms;
  a{
    font-family: 'Baloo';
    color: inherit;
  }
  &:hover{
    opacity: 1;
    transform: translateY(-4px);
  }
  @media (max-width: 550px) {
    font-size: 1.7rem;
    min-width: 120px;
  }
}

.nav-items {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 1.2rem;
  opacity: .8;
}